### Installing pymongo library

In [3]:
# !pip install pymongo

# Importing required libraries

In [1]:
import pymongo

# Connect

In [91]:
con = pymongo.MongoClient("mongodb://localhost:27017/") # this will connect to local database

## Getting databases

In [3]:
if "python" in con.list_database_names():
    print("database exist")

In [4]:
database = con['python']

## another method

In [5]:
con1 = pymongo.MongoClient('localhost',27017)

In [6]:
datab = con1['python']

In [7]:
datab

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'python')

# Getting collection

In [8]:
collection = database.list_collection_names()  # this will return all collection names in database

In [9]:
collection

[]

# inserting document

In [10]:
inset = {'name':'Dev','age':23}
insetIn = database['user'].insert_one(inset)

In [11]:
insetIn

In [12]:
inset2 = {'name':'nitin','age':21}
insetIn2 = database['user'].insert_one(inset2)

# Insert many records

In [14]:
insert = [
    {'name':'yuvi','age':22},
    {'name':'nah','age':21},
    {'name':'ayu','age':21},
    {'name':'sak','age':21},
    {'name':'sad','age':21},
    {'name':'vish','age':21},
    {'name':'deep','age':21},
    {'name':'shiv','age':21},
    {'name':'asz','age':21},
    {'name':'viv','age':21},
    {'name':'pad','age':21},
    {'name':'shr','age':21},
]

In [15]:
ind = database['user'].insert_many(insert)
print(ind.inserted_ids)

[ObjectId('625944d6f13484c16f887ba6'), ObjectId('625944d6f13484c16f887ba7'), ObjectId('625944d6f13484c16f887ba8'), ObjectId('625944d6f13484c16f887ba9'), ObjectId('625944d6f13484c16f887baa'), ObjectId('625944d6f13484c16f887bab'), ObjectId('625944d6f13484c16f887bac'), ObjectId('625944d6f13484c16f887bad'), ObjectId('625944d6f13484c16f887bae'), ObjectId('625944d6f13484c16f887baf'), ObjectId('625944d6f13484c16f887bb0'), ObjectId('625944d6f13484c16f887bb1')]

# MongoDB Find operation

## Find one record

In [38]:
collection = database['user']
find = collection.find_one() # this gives first one record from collection in database

In [39]:
print(find)

{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': 23}

## Find many records

In [26]:
all_records = list(collection.find())
all_records

[{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': 23},
 {'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nitin', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887ba6'), 'name': 'yuvi', 'age': 22},
 {'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nah', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887ba8'), 'name': 'ayu', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887ba9'), 'name': 'sak', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887baa'), 'name': 'sad', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bab'), 'name': 'vish', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bac'), 'name': 'deep', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bad'), 'name': 'shiv', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bae'), 'name': 'asz', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887baf'), 'name': 'viv', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bb0'), 'name': 'pad', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bb1'), 'name': 'shr', 'age': 21}]

In [27]:
for record in all_records:
    print(record)

{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': 23}
{'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nitin', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba6'), 'name': 'yuvi', 'age': 22}
{'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nah', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba8'), 'name': 'ayu', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba9'), 'name': 'sak', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887baa'), 'name': 'sad', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bab'), 'name': 'vish', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bac'), 'name': 'deep', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bad'), 'name': 'shiv', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bae'), 'name': 'asz', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887baf'), 'name': 'viv', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bb0'), 'name': 'pad', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bb1'), 'name': 'shr', 'age': 21}

# MongoDB Query

In [28]:
query = {'name':'nitin'}

In [29]:
documents = collection.find(query)

In [31]:
print(list(documents))

[{'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nitin', 'age': 21}]

In [32]:
query = {'name':'nah'}
documents = collection.find(query)

In [33]:
print(list(documents))

[{'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nah', 'age': 21}]

## Using greater than modifier

In [36]:
query = {'name':{'$gt':'m'}} # this query will give all name which starts with m or greater than m

documents = collection.find(query)

In [37]:
list(documents)

[{'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nitin', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887ba6'), 'name': 'yuvi', 'age': 22},
 {'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nah', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887ba9'), 'name': 'sak', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887baa'), 'name': 'sad', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bab'), 'name': 'vish', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bad'), 'name': 'shiv', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887baf'), 'name': 'viv', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bb0'), 'name': 'pad', 'age': 21},
 {'_id': ObjectId('625944d6f13484c16f887bb1'), 'name': 'shr', 'age': 21}]

# MongoDB Update Operations

In [40]:
query = {'name':'viv'} # this is for searching the record to update
newvalue = {'$set':{'name':'vive'}} # this is the new value for that record
collection.update_one(query,newvalue) # updating the record

In [42]:
# printing the all records
for rec in collection.find():
    print(rec)

{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': 23}
{'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nitin', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba6'), 'name': 'yuvi', 'age': 22}
{'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nah', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba8'), 'name': 'ayu', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887ba9'), 'name': 'sak', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887baa'), 'name': 'sad', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bab'), 'name': 'vish', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bac'), 'name': 'deep', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bad'), 'name': 'shiv', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bae'), 'name': 'asz', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887baf'), 'name': 'vive', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bb0'), 'name': 'pad', 'age': 21}
{'_id': ObjectId('625944d6f13484c16f887bb1'), 'name': 'shr', 'age': 21}

## Using regex for update

In [43]:
query = {'name':{'$regex':'^n'}}
newvalue ={'$set':{'name':'nahu'}}
updt = collection.update_many(query,newvalue)
print(updt.modified_count)

2

In [70]:
for rec in collection.find():
    print(rec['_id'])

6259437ff13484c16f887ba4
625943b5f13484c16f887ba5
625944d6f13484c16f887ba6
625944d6f13484c16f887ba7
625944d6f13484c16f887ba9
625944d6f13484c16f887baa
625944d6f13484c16f887bab
625944d6f13484c16f887bac
625944d6f13484c16f887bad
625944d6f13484c16f887bae
625944d6f13484c16f887baf
625944d6f13484c16f887bb0
625944d6f13484c16f887bb1

## Updating datatype of age

In [73]:
for rec in collection.find():
    collection.update_one({'_id':rec['_id']},{'$set':{'age':str(rec['age'])}})

In [74]:
list(collection.find())

[{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': '23'},
 {'_id': ObjectId('625943b5f13484c16f887ba5'), 'name': 'nahu', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887ba6'), 'name': 'yuvi', 'age': '22'},
 {'_id': ObjectId('625944d6f13484c16f887ba7'), 'name': 'nahu', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887ba9'), 'name': 'sak', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887baa'), 'name': 'sad', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bab'), 'name': 'vish', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bac'), 'name': 'deep', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bad'), 'name': 'shiv', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bae'), 'name': 'asz', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887baf'), 'name': 'vive', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bb0'), 'name': 'pad', 'age': '21'},
 {'_id': ObjectId('625944d6f13484c16f887bb1'), 'name': 'shr', 'age': '21'}]

# MongoDB Delete Operation

In [45]:
query = {'name':'ayu'}
collection.delete_one(query)

In [48]:
for rec in collection.find():
    print(rec['name'])

Dev
nahu
yuvi
nahu
sak
sad
vish
deep
shiv
asz
vive
pad
shr

## Delete many

In [75]:
query = {"age":{"$regex":"^22"}}
dlt = collection.delete_many(query)
print(dlt.deleted_count)

1

In [78]:
query = {'age':{'$regex':'^21'}}
dlt = collection.delete_many(query)
print(dlt.deleted_count)

11

In [79]:
list(collection.find())

[{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': '23'}]

# MongoDB Limit Operation

## Inserting some records

In [82]:
# inserting records 
insert = [
    {'name':'devi','age':'22'},
    {'name':'niha','age':'20'},
    {'name':'nah','age':'21'},
    {'name':'maha','age':'222'},
    {'name':'lak','age':'229'},
    {'name':'sar','age':'252'},
]

inset_id = collection.insert_many(insert)

In [86]:
inset_id.inserted_ids

[ObjectId('62595067f13484c16f887bb2'),
 ObjectId('62595067f13484c16f887bb3'),
 ObjectId('62595067f13484c16f887bb4'),
 ObjectId('62595067f13484c16f887bb5'),
 ObjectId('62595067f13484c16f887bb6'),
 ObjectId('62595067f13484c16f887bb7')]

# limiting query for 1st two records

In [89]:
query = collection.find().limit(2)
list(query)

[{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': '23'},
 {'_id': ObjectId('62595067f13484c16f887bb2'), 'name': 'devi', 'age': '22'}]

## Limiting query for 1st four records

In [88]:
query = collection.find().limit(4)
list(query)

[{'_id': ObjectId('6259437ff13484c16f887ba4'), 'name': 'Dev', 'age': '23'},
 {'_id': ObjectId('62595067f13484c16f887bb2'), 'name': 'devi', 'age': '22'},
 {'_id': ObjectId('62595067f13484c16f887bb3'), 'name': 'niha', 'age': '20'},
 {'_id': ObjectId('62595067f13484c16f887bb4'), 'name': 'nah', 'age': '21'}]

# Dropping collection

In [90]:
collection.drop() # This will drop an entire collection from database