# Import library

In [1]:
import sqlite3

# connect to database

In [5]:
# ## conet = sqlite3.connect("database.db")

# # using exceptions
# try:
#     conet = sqlite3.connect("database.db")
#     cursor = conet.cursor()
#     print("Database created successfully and connected")
# except sqlite3.Error as error:
#     print("Error in creating database")
    
# finally:
#     if(conet):
#         conet.close()
#         print("sqlite connection is closed")

Database created successfully and connected
sqlite connection is closed

In [6]:
conet = sqlite3.connect('database.db')
cursor = conet.cursor()

# creating the table

In [7]:
conet.execute('''CREATE TABLE STD(stdid INTEGER PRIMARY KEY AUTOINCREMENT,
                 name TEXT(20) NOT NULL, age INTEGER, Dept TEXT(20));''')
print("Table created successfully!.")

Table created successfully!.

# Inserting record in table using insert()

In [8]:
query = """INSERT into STD(name, age, Dept) values
           ('nitin', 21, 'cs'),
           ('bob', 20, 'cs'),
           ('nah',22,'cs');"""

cursor.execute(query)
conet.commit()
print("Data added to table successfully")

Data added to table successfully

# Python database READ operation

In [12]:
read_data = "SELECT * FROM STD"
cursor.execute(read_data)
while True:
    record = cursor.fetchone()
#     record = cursor.fetchall()
    if record==None:
        break
    print(record)

(1, 'nitin', 21, 'cs')
(2, 'bob', 20, 'cs')
(3, 'nah', 22, 'cs')

# Update operation

In [14]:
update_q = """UPDATE STD SET age = 25 WHERE name='bob';"""
cursor.execute(update_q)
conet.commit()
print("record is updated")

record is updated

In [16]:
q = "SELECT * FROM STD WHERE stdid=2;"
cursor.execute(q)
while True:
    record = cursor.fetchone()
    if record == None:
        break
    print(record)

(2, 'bob', 25, 'cs')

# Delete the record from table

In [18]:
q = """DELETE FROM STD WHERE name ='bob';"""
cursor.execute(q)
conet.commit()
print("Record deleted!.")

Record deleted!.

In [19]:
q = "SELECT * FROM STD;"
cursor.execute(q)
while True:
    record = cursor.fetchone()
    if record == None:
        break
    print(record)

(1, 'nitin', 21, 'cs')
(3, 'nah', 22, 'cs')

# Database LIMIT

In [22]:
q = """SELECT * FROM STD LIMIT 3;"""
cursor.execute(q)
fetch = cursor.fetchall()
print(f"Record is :: {fetch}")

Record is :: [(1, 'nitin', 21, 'cs'), (3, 'nah', 22, 'cs')]

In [23]:
q = """SELECT * FROM STD LIMIT 1;"""
cursor.execute(q)
fetch = cursor.fetchall()
print(f"Record is :: {fetch}")

Record is :: [(1, 'nitin', 21, 'cs')]

In [24]:
q = """SELECT * FROM STD LIMIT 0;"""
cursor.execute(q)
fetch = cursor.fetchall()
print(f"Record is :: {fetch}")

Record is :: []

# closing connection

In [25]:
cursor.close()
conet.close()